@model List<Product>
<!-- product item list start -->
<div class="shop-product-wrap list-view row mbn-50 ">
    @foreach (Product product in Model)
    {
        <div class="col-lg-4 col-sm-6">
            <!-- product grid item start -->
            <div class="product-item mb-53">
                <div class="product-thumb">
                    <a asp-controller="product" asp-action="detail" asp-route-id="@product.Id">
                        <img src="assets/img/product/@product.MainImage" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <h5 class="product-name">
                        <a href="product-details.html">@product.Name</a>
                    </h5>
                    <div class="price-box">
                        @if (product.DiscountedPrice > 0)
                        {
                            <span class="price-regular">$@product.DiscountedPrice</span>
                            <span class="price-old"><del>$@product.Price</del></span>
                        }
                        else
                        {
                            <span class="price-old"><del>$@product.Price</del></span>
                        }
                    </div>
                    <div class="product-action-link">
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                        <a asp-controller="basket" asp-action="addtobasket" asp-route-id="@product.Id" class="addtobasket" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                        <a class="modaldetail" asp-controller="product" asp-action="modalview" asp-route-id="@product.Id" data-toggle="modal" data-target="#quick_view">
                            <span data-toggle="tooltip"
                                  title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- product grid item end -->
            <!-- product list item start -->
            <div class="product-list-item mb-30">

                <div class="product-thumb">
                    <a asp-controller="product" asp-action="detail" asp-route-id="@product.Id">
                        <img src="assets/img/product/@product.MainImage" alt="product thumb">
                    </a>
                </div>
                <div class="product-content-list">
                    <h5 class="product-name">
                        <a href="product-details.html">@product.Name</a>
                    </h5>
                    <div class="price-box">
                        @if (product.DiscountedPrice > 0)
                        {
                            <span class="price-regular">$@product.DiscountedPrice</span>
                            <span class="price-old"><del>$@product.Price</del></span>
                        }
                        else
                        {
                            <span class="price-old"><del>$@product.Price</del></span>
                        }
                    </div>
                    <p>
                        @product.Describtion
                    </p>
                    <div class="product-link-2 position-static">
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                        <a asp-controller="basket" asp-action="addtobasket" asp-route-id="@product.Id" class="addtobasket" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                        <a asp-controller="product" asp-action="modalview" asp-route-id="@product.Id" data-toggle="modal" class="modaldetail" data-target="#quick_view">
                            <span data-toggle="tooltip" title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- product list item start -->
        </div>

    }

</div>
<!-- product item list end -->