@model PageNatedList<AppUser>
@{
    ViewData["Title"] = "Index";

    //int no = 1;
}
<div class="row justify-content-between">
    <div class="col-lg-2">
        <h1>Brands</h1>
    </div>
    <div class="col-lg-6">
        <form>
            <div class="row">
                <div class="col">
                    <label class="form-label">Brand Statusu</label>
                    <select name="status" class="form-select" aria-label="Default select example">
                        <option selected="@(ViewBag.Status == 0 ? "true" : "false")" value="0">All</option>
                        <option selected="@(ViewBag.Status == 1 ? "true" : "false")" value="0">Deleted</option>
                        <option selected="@(ViewBag.Status == 2 ? "true" : "false")" value="0">Active</option>
                    </select>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Filter</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-1">
        <a class="btn btn-success" asp-area="manage" asp-controller="user" asp-action="create">Create</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 tblContent">
        @await Html.PartialAsync("_UserIndexPartial", Model)
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.HasPrev)
                {
                    <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="user" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="1">@("<<")</a></li>

                    <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="user" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Page-1)">@("<")</a></li>
                }
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(Model.Page == i ? "active":"")"><a class="page-link" asp-area="manage" asp-controller="user" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@i">@i</a></li>
                }
                @if (Model.HasNext)
                {
                    <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="user" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Page+1)">@(">")</a></li>
                    <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="user" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@Model.PageCount">@(">>")</a></li>
                }
            </ul>
        </nav>
    </div>
</div>