@model PageNatedList<Color>
<table class="table table-bordered table-striped ">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Color color in Model)
        {
            <tr>
                <td>@color.Id</td>
                <td>@color.Name</td>
                
                <td>
                    <a asp-area="manage" asp-controller="color" asp-action="update" asp-route-id="@color.Id" class="btn btn-warning">Update</a>
                    @if (color.IsDeleted)
                    {
                        <a asp-area="manage" asp-controller="color" asp-action="restore" asp-route-id="@color.Id" asp-route-status="@ViewBag.Status" class="btn btn-info restoreBtn">Restore</a>

                    }
                    else
                    {
                        <a asp-area="manage" asp-controller="color" asp-action="delete" asp-route-id="@color.Id" asp-route-status="@ViewBag.Status" class="btn btn-danger deleteBtn">Delete</a>

                    }

                </td>
            </tr>
        }
    </tbody>
</table>