@model BlogVM
@{
    ViewData["Title"] = "Detail";
}

<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Blog</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                                <li class="breadcrumb-item"><a asp-controller="blog" asp-action="index">Blog</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- blog main wrapper start -->
    <div class="blog-main-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2">
                    <div class="blog-widget-wrapper">
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <div class="blog-widget-img">
                                <img src="~/assets/img/blog/11.jpg" alt="author thumb" />
                            </div>
                            <div class="blog-author-title text-center">
                                <h5>Erik Jhonson</h5>
                                <span>UI UX Designer</span>
                                <div class="blog-widget-icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Search</h4>
                            <form class="widget-search-form">
                                <input placeholder="Search keyword" type="text" class="search-field">
                                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Recent Posts</h4>
                            <ul class="recent-posts-inner">
                                @foreach (Blog recentblog in Model.Blogs.Take(3))
                                {
                                    <li class="recent-posts">
                                        <div class="recent-posts-image">
                                            <a asp-controller="blog" asp-action="detail" asp-route-id="@recentblog.Id"><img src="~/assets/img/blog/@recentblog.Image" alt="post thumb"></a>
                                        </div>
                                        <div class="recent-posts-body">
                                            <span class="recent-posts-meta">@recentblog.CreatedAt.Value.ToString("dd-MMMM-yyyy")</span>
                                            <h6 class="recent-posts-title"><a asp-controller="blog" asp-action="detail" asp-route-id="@recentblog.Id">@recentblog.Name</a></h6>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Categories</h4>
                            <ul class="blog-categories">
                                @foreach (BlCategory category in Model.BlCategories)
                                {
                                    <li><a asp-controller="product" asp-action="sortbycategory" asp-route-id="@category.Id" class="sortlink">@category.Name <span>(@Model.BlogBlCategories.Where(p => p.BlCategoryId == category.Id).ToList().Count())</span></a></li>

                                }
                            </ul>
                        </div>
                        <!-- widget item end -->
                        <!-- widget item start -->
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">Tags</h4>
                            <div class="blog-tag">
                                @foreach (Tag tag in Model.Tags)
                                {
                                    <a asp-controller="product" asp-action="sortbytag" asp-route-id="@tag.Id" class="sortlink">@tag.Name</a>

                                }
                               
                            </div>
                        </div>
                        <!-- widget item end -->
                    </div>
                </div>
                <div class="col-lg-9 order-1">
                    <div class="row">
                        <div class="col-12">
                            <!-- blog single item start -->
                            <div class="blog-post-item">
                                <div class="blog-thumb">
                                    <img src="~/assets/img/blog/@Model.Blog.Image" alt="blog thumb">
                                </div>
                                <div class="blog-content blog-details">
                                    <h5 class="blog-title">
                                        @Model.Blog.Name
                                    </h5>
                                    <ul class="blog-meta">
                                        <li><span>By: </span>@Model.Blog.Author,</li>
                                        <li><span>On: </span>@Model.Blog.CreatedAt.Value.ToString("dd-MM-yyyy")</li>
                                    </ul>
                                    <p>
                                        @Model.Blog.Text
                                    </p>
                                    <blockquote>
                                        <p>
                                            @Model.Blog.Text
                                        </p>
                                    </blockquote>
                                    <p>
                                        @Model.Blog.Text
                                    </p>
                                </div>
                            </div>
                            <!-- blog single item start -->
                            <!-- comment area start -->
                            <div class="comment-section section-padding">
                                <h5>Comment Section</h5>
                                <ul>
                                    @foreach (Coment coment in Model.Coments)
                                    {
                                        if (coment.BlogId == Model.Blog.Id)
                                        {
                                            <li>
                                                <div class="author-avatar">
                                                    <img src="~/assets/img/blog/comment-icon.png" alt="">
                                                </div>
                                                <div class="comment-body">
                                                    <span class="reply-btn"><a asp-controller="blog" asp-action="AddReply" asp-route-id="@Model.Blog.Id" asp-route-comentId="@coment.Id" class="addreply">Reply</a></span>
                                                    <h5 class="comment-author">@Model.Users.FirstOrDefault(u => u.Id == coment.UserId).FullName</h5>
                                                    <div class="comment-post-date">
                                                        @coment.Date.ToString("dd MMM, yyy" + "at" + "HH:mm")
                                                    </div>
                                                    <p>
                                                        @coment.Text
                                                    </p>
                                                </div>
                                            </li>
                                            foreach (ComentReply comentReply in Model.ComentReplies)
                                            {
                                                if (comentReply.ComentId == coment.Id)
                                                {
                                                    <li class="comment-children ">
                                                        <div class="author-avatar">
                                                            <img src="~/assets/img/blog/comment-icon.png" alt="">
                                                        </div>
                                                        <div class="comment-body">
                                                          @*<span class="reply-btn"><a asp-controller="blog" asp-action="AddReply" asp-route-id="@Model.Blog.Id" asp-route-comentId="@coment.Id" class="addreply">Reply</a></span>*@
                                                            <h5 class="comment-author">@Model.Users.FirstOrDefault(u => u.Id == comentReply.UserId).FullName</h5>
                                                            <div class="comment-post-date">
                                                                @comentReply.Date.ToString("dd MMM, yyy" + "at" + "HH:mm")
                                                            </div>
                                                            <p>
                                                                @comentReply.Text
                                                            </p>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        }

                                    }
                                    <li class="comment-children ">
                                        <div class="blog-comment-wrapper replyContainer">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- comment area end -->
                            <!-- start blog comment box -->
                            <div class="blog-comment-wrapper">
                                @await Html.PartialAsync("_BlogComentsPartial", Model)
                            </div>
                            <!-- start blog comment box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog main wrapper end -->
</main>
<!-- main wrapper end -->